@import './colors';

/* Fonts */

$light: 100;
$regular: 400;
$bold: 600;

$base-font-family: sans-serif;
$base-font-size: 13px;
$base-font-weight: $regular;
$base-line-height: 1.4;

/* Layout */

$base-margin: 50px;



