@import './modules/modules';

html body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  background-color: $background_light_color;
  color: $text_basic_color;
}
