@import '../../styles/modules/modules';

.app-container {
  .search-bar {
    padding: 0;
    border: none;
    &__input {
      border-color: $text_basic_color;
      padding-left: 0;
      &:active {
       border-color: $background_blue_color;
      }
    }
    &__btn {
      min-width: 75px;
      @include default_btn();
    }
  }
}