@import '../../styles/modules/modules';

.app-container {
  .header {
    padding: 25px 0;
    @include header();
    &__title {
      font-size: 1.2em;
      display: inline-block;
      margin-left: 0.25 * $base-margin;
      font-weight:inherit;
      color: $default_black;
    }
    &__image {
      max-width: 100%;
    }
  }
}