@import '../../styles/modules/modules';

.app-container {
  .post {
    margin: 20px 0;
    padding: 25px 0;
    border-bottom: 2px solid $text_basic_color;
    &__title {
      color: $default_black;
    }
    &__btn {
      margin-top: 20px;
      width: 100%;
      @include default_btn();
      &--alert {
        @include alert_btn();
      }
    }
  }
}
